{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Thanh toán{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'store:index' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout section Start -->
    <section class="checkout-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-lg-8">
                    <div class="left-sidebar-checkout">
                        <div class="checkout-detail-box">
                            <ul>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                            trigger="loop-on-hover"
                                            colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                            class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Thông tin nhận hàng</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="row g-4">
                                                <div class="col-xxl-12 col-lg-12 col-md-12">
                                                    <div class="delivery-address-box">
                                                        <div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="jack"
                                                                    id="flexRadioDefault1">
                                                            </div>

                                                            <div class="label">
                                                                <label>Nhà</label>
                                                            </div>

                                                            <ul class="delivery-address-detail">
                                                                <li>
                                                                    <h4 class="fw-500">Người nhận: {{ request.user.last_name }}  {{request.user.first_name}}</h4>
                                                                </li>

                                                                <li>
                                                                    <p class="text-content"><span
                                                                            class="text-title">Địa chỉ
                                                                            : </span>{{ customer.address }}</p>
                                                                </li>

                                                                <li>
                                                                    <h6 class="text-content"><span
                                                                            class="text-title">Email
                                                                            :</span> {{ request.user.email }}</h6>
                                                                </li>

                                                                <li>
                                                                    <h6 class="text-content mb-0"><span
                                                                            class="text-title">Số điện thoại
                                                                            :</span> {{ customer.phone_number }}</h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkout-icon">
                                        <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                            trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                            class="lord-icon">
                                        </lord-icon>
                                    </div>
                                    <div class="checkout-box">
                                        <div class="checkout-title">
                                            <h4>Phương thức thanh toán</h4>
                                        </div>

                                        <div class="checkout-detail">
                                            <div class="accordion accordion-flush custom-accordion"
                                                id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingFour">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseFour">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="cash"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="flexRadioDefault" id="cash" checked> Thanh toán qua VNPAY</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseFour"
                                                        class="accordion-collapse collapse show"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="flush-headingOne">
                                                        <div class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseOne">
                                                            <div class="custom-form-check form-check mb-0">
                                                                <label class="form-check-label" for="credit"><input
                                                                        class="form-check-input mt-0" type="radio"
                                                                        name="flexRadioDefault" id="credit">
                                                                    Thanh toán khi nhận hàng</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                        data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row g-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="right-side-summery-box">

                        <div class="summery-box-2">
                                <div class="summery-header">
                                    <h3>Thông tin đơn hàng</h3>
                                </div>
                                <table class="table">
                                            <thead class="thead-dark">
                                            </thead>
                                            <tbody class="align-middle">
                                                {% for c in cart %}
                                                    {% with product=c.product %}
                                                <tr>
                                                    <td>
                                                        <div class="img">
                                                            <a href="{% url 'store:product_detail' product.pk %}"><img src="{{ product.image.url }}" alt="" style="object-fit: cover; position: relative; width: 20%; height: 20%;"></a>
                                                            <p><a href="{% url 'store:product_detail' product.pk %}"></a>{{ product.name }}</p>
                                                        </div>
                                                    </td>
                                                    <td>{{ c.price|floatformat:0|intcomma }}</td>
                                                    <td>X{{ c.quantity }}</td>
                                                    <td>{{ c.total_price|floatformat:0|intcomma }}</td>
                                                </tr>
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                <ul class="summery-total">
                                    <form method="post">
                            {% csrf_token %}
                                <li>
                                    <h4>Tạm tính</h4>
                                    <h4 class="price">{{ cart.get_total_price|floatformat:0|intcomma }} VND</h4>
                                </li>
                                <li>
                                    <h4>Giảm giá</h4>
                                    <h4 class="price">{{ cart.get_discount|floatformat:0|intcomma }} VND</h4>
                                </li>

                                <li>
                                    <h4>Phí vận chuyển</h4>
                                    <h4 class="price">Freeship</h4>
                                </li>


                                <li class="list-total">
                                    <h4>Tổng thành tiền</h4>
                                    <h4 class="price">{{ cart.get_final_total_price|floatformat:0|intcomma }} VND</h4>
                                </li>
                            </ul>
                        </div>
                        <button class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold" type="submit" name="btnCheckout" value="checkout">Đặt hàng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section End -->
{% endblock %}