{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Đăng ký tài khoản{% endblock %}
{% block content %}

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'store:index' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Đăng ký tài khoản</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- log in section start -->
    <section class="log-in-section section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'store/assets/images/inner-page/sign-up.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Đăng ký tài khoản</h3>
                        </div>

                        <div class="input-box">
                            <form method="post">
                                {% csrf_token %}
                                {{ result_register|safe }}
                                <div class="row g-4">
                                    <div class="col-6">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.first_name }}
                                            <label for="first_name">Tên</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.last_name }}
                                            <label for="last_name">Họ</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.username }}
                                            <label for="email">User Name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_customer.phone_number }}
                                            <label for="email">Số điện thoại</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.email }}
                                            <label for="email">Địa chỉ Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_customer.address }}
                                            <label for="address">Địa chỉ</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.password }}
                                            <label for="password">Mật khẩu</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating">
                                            {{ form_user.confirm_password }}
                                            <label for="re_password">Nhập lại mật khẩu</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input class="btn btn-animation w-100" type="submit" name="btnRegister" value="Đăng ký">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sign-up-box">
                            <h4>Quý khách đã có tài khoản?</h4>
                            <a href="{% url 'users:login' %}">Đăng nhập</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
            </div>
        </div>
    </section>
    <!-- log in section end -->
{% endblock %}